<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>
    <context:component-scan base-package="cn.javaxxw.*" />
    
    <import resource="classpath:spring/spring-consumer.xml" />
	<import resource="classpath:spring/spring-job.xml" />
	<import resource="classpath:spring/spring-activemq.xml" />
	
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"></bean>
    
	<!-- jedis shard1信息配置   -->
    <bean id="jedis.shardInfoCache1" class="redis.clients.jedis.JedisShardInfo">  
        <constructor-arg index="0" value="${redis.jedis.shardInfoCache1.host}" />  
        <constructor-arg index="1" type="int" value="${redis.jedis.shardInfoCache1.port}" />  
    </bean> 
    
    <!-- jedis shard pool配置   -->
    <bean id="shardedJedisPoolCache" class="redis.clients.jedis.ShardedJedisPool">  
        <constructor-arg index="0" ref="jedisPoolConfig" />  
        <constructor-arg index="1">  
            <list>  
                <ref bean="jedis.shardInfoCache1" />  
            </list>  
        </constructor-arg>  
    </bean>  
	<bean id="redisUtil" class="cn.javaxxw.utils.RedisUtil">  
        <property name="shardedJedisPool">  
        	<ref bean="shardedJedisPoolCache" />
        </property>
    </bean>
    <bean id="redisCacheUtil" class="cn.javaxxw.utils.RedisCacheUtil">
    	<property name="redisUtil">
			<ref bean="redisUtil" />
		</property>
    </bean>
</beans>